<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola bienvenido a mi API de Monedero by CodiGo</p>
    <p>Presentado por {{nombre}}{{edad}}</p>
    <p>Los galacticos son:</p>
    <ol>
        {% for integrante in integrantes %}
        <li>{{integrante}}</li>
        {% endfor %} 
    </ol>
    {{integrantes}}
    <p>El usuario es {{usuario.nombre}}</p>
    <Table border="5">
        <tr>
            <th>Seleccion</th>
            <th>Clasificado</th>
        </tr>
        {% for seleccion in selecciones %}
        <tr>
            <td>
                {{seleccion.nombre}}
            </td>
            <td>
                {% if seleccion.clasificado is true %}
                'Nos vemos en Qatar'
                {% elif seleccion.clasificado is false %}
                'Nos vemos en Qatar'
                {% else %}
                'Aun no se sabe'
                {% endif %}        
            </td>
        </tr>
        {% endfor %}
    </Table>
</body>
</html>